---
const msgEmodjiPart1 = [
  {
    emodji: '😞',
    desc: 'Я всегда жду новых уведомлений от других людей.',
  },
  {
    emodji: '😰',
    desc: 'Я всегда чувствую тревогу, когда не имею доступа к интернету.',
  },
  {
    emodji: '😐',
    desc: 'Я провожу часы, просматривая социальные сети каждый день.',
  },
  {
    emodji: '😕',
    desc: 'Я не могу представить свою жизнь без интернета.',
  },
  {
    emodji: '🤖',
    desc: 'Я предпочитаю общаться с друзьями через онлайн-мессенджеры, а не лицом к лицу.',
  },
  {
    emodji: '😮',
    desc: 'Я всегда проверяю свой телефон на наличие уведомлений или новых обновлений.',
  },
]
const msgEmodjiPart2 = [
  {
    emodji: '🙏',
    desc: 'Я начал доверять себе и людям.',
  },
  {
    emodji: '✊',
    desc: 'Я знаю, что у меня есть нечто, что дарует мне силы для жизненного пути.',
  },
  {
    emodji: '😄',
    desc: 'Я провожу часы с пользой, а не залипая на экран.',
  },
  {
    emodji: '😇',
    desc: 'Я не думаю только о себе.',
  },
  {
    emodji: '🤗',
    desc: 'Я предпочитаю общаться с друзьями в живую, а не онлайн.',
  },
  {
    emodji: '😝',
    desc: 'Я не проверяю каждую секунду, кто и когда мне написал. Я живу здесь и сейчас.',
  },
]
---

<div class="flex flex-col gap-8">
  <h3 class="text-xl md:text-2xl font-bold">
    💭 Мысли интернет зависимого человека без решения!
  </h3>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      msgEmodjiPart1.map((item) => (
        <div class="flex items-center gap-4 bg-white rounded-2xl p-4 relative outline outline-offset-4 ring-2 ring-gray-100 outline-white">
          <span class="text-2xl">{item.emodji}</span>
          <p class="leading-tight">{item.desc}</p>
        </div>
      ))
    }
  </div>

  <h3 class="text-xl md:text-2xl font-bold">
    💭 Мысли выздоровевшего человека от безнадежного залипания в интернете благодаря 12
    шагам!
  </h3>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      msgEmodjiPart2.map((item) => (
        <div class="flex items-center gap-4 bg-white rounded-2xl p-4 relative outline outline-offset-4 ring-2 ring-gray-100 outline-white">
          <span class="text-2xl">{item.emodji}</span>
          <p class="leading-tight">{item.desc}</p>
        </div>
      ))
    }
  </div>
</div>
