---
---

<div class="history-block" id="return">
 <div class="info-person" id="top">
  <div class="person">🙏</div>
  <div class="info-date">
   <a href="https://t.me/proxima8AA" class="name">Камиль</a>
   <span class="from">В АИЗ с <b>10.11.21</b></span>
  </div>
 </div>
 <div class="desc">
  <div class="prose">
   <p class="story">
    Привет 👋 Меня зовут Камиль. В АИЗ я с 10.11.21. О сообществе я узнал у АКИ <i
     ><u>(Анонимные Компьютерные Игроки)</u></i
    > тогда они были совместные с АИЗ. Мне с первых собраний понравилось сообщество из-за теплого
    приема и классных людей. Первый шаг для меня в АИЗ было признать проблему с вечным залипанием
    в интернете. Я начал усердно ходить на каждое собрания, и так я дошел до понимая того,
    что возможно эффективно использовать интернет. Вместо того, чтобы смотреть те же фильмы,
    я начал думать, как можно помочь развивать движения в АИЗ, так как мне это помогло, и многим
    другим, то почему бы не распроститься? У каждого из нах находящихся в АИЗ были знания в
    той, или иной области. Мы создали комитеты, создали сайт, запускали семинары, назначали
    спикерские, давали ответы на вопросы от новичков. Сообщество молодое. Каждый человек для
    нас важен. Каждый новый член сообщества - движок нашего и вашего прогресса в духовном плане.
    Также есть и моменты, что каждое наше залипание - это бездействие по отношения к нашему
    сообществу. Мы стараемся нести наши познания каждому, кто хочет идти по пути АИЗ ☝ <br
    />
    Спасибо, что прочитали мою историю 🤝
   </p>
  </div>
 </div>
 <button class="button"
  ><a href="#top" id="link">Раскрыть историю 👀</a></button
 >
</div>

<style>
 .button {
  margin-top: 20px;
  display: inline-block;
  border: none;
  outline: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  background-color: #efefef;
  cursor: pointer;
  transition: background-color var(--animate);
 }
 .button:hover {
  transition: background-color var(--animate);
  background-color: #e3e3e3;
 }
 .history-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fbfef7;
  border: 1px solid #f1fae5;
  padding: 20px;
  border-radius: var(--border-medium);
 }
 .info-person {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 8px;
  background-color: #f1fae5;
 }
 .person {
  display: inline-block;
  font-size: 32px;
 }
 .info-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;
 }
 .name {
  font-size: 18px;
  font-weight: 500;
  color: var(--text);
 }
 .from {
  font-size: 14px;
  font-weight: 400;
  color: #666;
 }
 .desc {
  margin-top: 20px;
 }
 .story {
  color: var(--text);
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
 }
</style>

<script is:inline>
 const stories = document.querySelectorAll(".story");
 const buttons = document.querySelectorAll("button");
 const link = document.querySelector("#link");

 buttons.forEach((button, index) => {
  let isHidden = false;

  button.addEventListener("click", function () {
   const story = stories[index];
   if (!isHidden) {
    story.style.WebkitLineClamp = "100";
    link.textContent = "Скрыть историю 👀";
    link.href = "#top";
   } else {
    story.style.WebkitLineClamp = "";
    link.textContent = "Раскрыть историю 👀";
    link.href = "#top";
   }
   isHidden = !isHidden;
  });
 });
</script>
