---
---

<h1
 class="text-[52px] tracking-[-1px] sm:text-[60px] sm:tracking-[-2px] md:text-[70px] md:tracking-[-3px]"
>
 <span class="text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600">Анонимные</span>
 <span class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-orange-600">Интернет</span>
 <span class="text-transparent bg-clip-text bg-gradient-to-br from-red-400 to-red-600">Зависимые</span>
</h1>
