---
---

<h1 class="flex items-center gap-2 md:gap-5 flex-wrap text-[52px] sm:text-[60px] md:text-[70px]">
  <span
    class="block text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600"
    >Анонимные</span
  >
  <span
    class="block text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-orange-600"
    >Интернет</span
  >
  <span
    class="block text-transparent bg-clip-text bg-gradient-to-br from-red-400 to-red-600"
    >Зависимые</span
  >
</h1>
