---

---

<div class="text-center flex flex-col gap-4 items-center">
  <h1 class="font-black text-5xl xl:text-6xl text-zinc-800">
    Анонимные Интернет Зависимые
  </h1>
  <p class="text-2xl text-zinc-600">от устройств, цифровых технологий и потребления любого контента</p>
</div>
