---
import MainLayout from "../layout/MainLayout.astro"
---

<MainLayout
	title="Такой страницы нет."
	description="Такой страницы нет, либо она в разработке..."
>
	<div class="container" style="margin-top: 40px;">
		<h1>Такой страницы нет, либо она в разработке...</h1>
	</div>
</MainLayout>
