---
import Layout from "../layout/Layout.astro";
---

<Layout title="Такой страницы нет." desc="Такой страницы нет, либо она в разработке...">
 <div class="container" style="margin-top: 40px;"><h1>Такой страницы нет, либо она в разработке...</h1></div>
</Layout>
