---
import PostLayout from "@/layout/PostLayout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const pages = await getCollection("pages")
	return pages.map(page => ({
		params: { page: page.slug },
		props: page,
	}))
}

const page = Astro.props
const { Content } = await page.render()
---

<PostLayout {...page.data} img={page.data.ogImage?.src}>
	<main class="prose lg:prose-lg md:prose-md xl:prose-xl">
		<Content />
	</main>
</PostLayout>
