---
import { getCollection } from 'astro:content'
import AIZinfosvg from '../components/AIZinfosvg.astro'
import AIZsvg from '../components/AIZsvg.astro'
import CTA from '../components/CTA.astro'
import BlockMsgs from '../components/blocks/BlockMsgs.astro'
import Title from '../components/blocks/Title.astro'
import Layout from '../layout/Layout.astro'

const links = [
  // { name: '🎈 Посты', link: '/posts', showPostCount: true },
  { name: 'Присоединиться к нам', link: 'https://t.me/aiz_itta', styleWow: true },
  { name: 'Инфоканал', link: 'https://t.me/aiz_info', styleInfo: true },
  // { name: '💎 Истории', link: '/stories', showPostCountStory: true },
]

// const showPostCountLength = (await getCollection('posts')).length
// const showPostCountLengthStory = (await getCollection('story')).length
---

<Layout
  title="Анонимные Интернет Зависимые - СНГ"
  desc="Это сообщество людей, которые поддерживают друг друга в преодолении проблем, вызванных одержимым использованием интернета и технических устройств."
>
  <div class="flex flex-col gap-20">
    <Title />

    <nav
      class="bg-white md:flex-row flex-col rounded-xl p-2 gap-2 flex items-center max-w-4xl mx-auto"
    >
      {
        links.map((item) => (
          <a
            href={item.link}
            class={`${
              item.styleWow
                ? 'flex gap-2 py-2 px-3 rounded-lg bg-gradient-to-r from-green-400 to-emerald-400 text-white font-bold tracking-wide'
                : 'py-2 px-3 rounded-lg bg-gray-50 ring-1 ring-gray-100 hover:bg-gray-100 transition-colors ease-linear font-medium text-center self-stretch ' +
                  (item.styleInfo
                    ? 'flex item gap-2 py-2 px-3 rounded-lg bg-gradient-to-tr from-purple-400 to-indigo-500 text-white font-bold tracking-wide justify-center'
                    : null)
            }  `}
          >
            {item.styleWow ? <AIZsvg /> : null} {item.styleInfo ? <AIZinfosvg /> : null}{' '}
            {item.name} 
            </a>
            ))
          }
          <!-- {item.showPostCount ? ` (${showPostCountLength})` : null}
          {item.showPostCountStory ? ` (${showPostCountLengthStory})` : null} -->
    </nav>

    <CTA />

    <BlockMsgs />
  </div>
</Layout>
