---
import Title from "../components/blocks/Title.astro"
import MainLayout from "../layout/MainLayout.astro"

const links = [
	{
		name: "Кто такие АИЗ?",
		link: "https://internetaddicts.ru/PostLayouts/kto-takie-aiz/",
	},
	{
		name: "Кто такой наставник в АИЗ?",
		link: "https://internetaddicts.ru/PostLayouts/kto-takoj-sponsor-nastavnik-v-anonimnyh-internet-zavisimyh/",
	},
	{
		name: "Что дают нам шаги? Принципы шагов.",
		link: "https://internetaddicts.ru/PostLayouts/princzipy-12-shagov-v-nashih-delah/",
	},
	{
		name: "Инструменты для полноценной жизни",
		link: "https://internetaddicts.ru/PostLayouts/instrumenty-dlya-polnoczennoj-zhizni/",
	},
]
---

<MainLayout
	title="Анонимные Интернет Зависимые"
	description="Это сообщество людей, которые поддерживают друг друга в преодолении проблем, вызванных одержимым использованием интернета и технических устройств."
>
	<Title />
	<section class="max-w-[880px] mx-auto flex flex-col gap-10 text-zinc-600">
		<nav class="flex justify-between items-center flex-wrap gap-2 md:gap-3">
			<div class="flex flex-wrap gap-2 md:gap-3">
				<a
					href="https://t.me/aiz_itta"
					class="text-green-700 self-end bg-green-50 ring-1 ring-green-400 rounded-full px-2.5 py-2 w-full md:w-auto md:text-left text-center"
					>👍 Присоединиться к АИЗ</a
				>
				<a
					href="https://t.me/aiz_info"
					class="text-slate-700 self-end bg-slate-50 ring-1 ring-slate-400 rounded-full px-2.5 py-2 w-full md:w-auto md:text-left text-center"
					>ℹ️ Инфоканал АИЗ</a
				>
			</div>
			<a
				href="https://t.me/all_12steps"
				class="text-sky-700 self-end bg-sky-50 ring-1 ring-sky-400 rounded-full px-2.5 py-2 w-full md:w-auto md:text-left text-center"
				>🦋 Материалы по 12 шагам</a
			>
		</nav>

		<p class="text-xl leading-relaxed font-light">
			Мы рады, что вы нашли нас, и надеемся, что наше сообщество окажется для вас
			полезным, как и для нас. <b>АИЗ</b> - это двенадцатишаговое сообщество людей, которые
			поддерживают друг друга в выздоровлении от залипания в интернете.
		</p>
		<p class="text-xl leading-relaxed font-light">
			К ним относятся зависимость от <b>социальных сетей</b>, <b>смартфонов</b>, <b
				>коротких видео</b
			>, <b>аудиоконтента</b>, новостей или любой другой деятельности в цифровом мире,
			которая становится проблемной в жизни.
		</p>
		<p class="text-xl leading-relaxed font-light">
			<b>Присоединиться к нам - может каждый</b>, независимо от возраста, пола,
			национальности, убеждений, ментальных состояний, диагнозов и религиозных взглядов.
		</p>
		<div class="flex gap-6 flex-wrap">
			<h2 class="text-3xl font-bold md:max-w-xs">
				🫶 Возможно, тебе будет полезно это прочесть
			</h2>
			<nav class="flex flex-col gap-3">
				{
					links &&
						links.map(item => (
							<a
								href={item.link}
								class="text-blue-500 underline underline-offset-4 font-medium"
							>
								{item.name}
							</a>
						))
				}
			</nav>
		</div>
	</section>
</MainLayout>
