---
import { getCollection } from 'astro:content'
import Article from "../components/blocks/Article.astro"
import Layout from "../layout/Layout.astro"
const posts = await getCollection('posts')
---

<Layout
 title="Посты"
 desc="Посты АИЗ. Мероприятие, короткие новости, методы шагов, инструменты"
>
 <div class="container">
  <section>
   <div class="grid gap-10 grid-cols-1 md:grid-cols-2">
    {posts &&
     posts.map((post) => (
      <Article
       slug={post.slug} data={post.data}
      />
     ))
    }
   </div>
  </section>
 </div>
</Layout>
