---
import { getCollection } from "astro:content"
import MainLayout from "../../layout/MainLayout.astro"

const stories = await getCollection("story")
---

<MainLayout
	title="Личные истории членов"
	description="Личные истории членов АИЗ, которые прошли путь и пришли к душевному спокойствию."
>
	<a
		class="text-blue-500 self-end bg-blue-50 ring-1 ring-blue-400 rounded-full px-2.5 py-2 font-medium"
		href="https://t.me/mariya_sq">Прислать историю</a
	>

	<div class="flex flex-col gap-6">
		{
			stories &&
				stories.map(item => (
					<a
						href={`/stories/${item.slug}/`}
						class="hover:translate-y-1  transition-all ease-out"
					>
						<article class="flex flex-col gap-2 bg-white p-4 rounded-2xl">
							<h3 class="font-bold text-2xl">{item.data.title}</h3>
							<p class="font-normal leading-relaxed text-gray-500 line-clamp-2">
								{item.data.description}
							</p>
						</article>
					</a>
				))
		}
	</div>
</MainLayout>
