---
const words = [
  {
    desc: '<b>АИЗ</b> сообщество людей, которые поддерживают друг друга в преодолении проблем, вызванных деструктивным, одержимым и компульсивным использованием интернета и гаджетов.',
    emodji: '🤝',
    bg: 'bg-green-50',
    clip: 'clip-path: polygon(0% 0%, 23.6% 0%, 79% 100%, 0% 100%);',
  },
  {
    desc: '<b>Сообщество АИЗ</b> не связаны ни с какой политической, религиозной или правоохранительной организацией, и не находимся ни под чьим контролем.',
    emodji: '🚫',
    bg: 'bg-orange-50',
    clip: 'clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);',
  },
  {
    desc: '<b>Наша цель</b> воздерживаться от разрушительного использования интернета и помочь другим страдающим от этой зависимости.',
    emodji: '🛑💻📱',
    bg: 'bg-blue-50',
    clip: 'clip-path: polygon(50% 0%, 100% 100%, 0% 100%);',
  },
  {
    desc: '<b>Присоединиться</b> к нам - может каждый, независимо от возраста, пола, национальности, убеждений, религии, или отсутствия таковой.',
    emodji: '👥🌍',
    bg: 'bg-purple-50',
    clip: 'clip-path: polygon(11% 21.5%, 100% 0%, 100% 100%, 0% 100%);',
  },
  {
    desc: '<b>Единственным условием для членства в АИЗ</b> является желание преодолеть интернет-зависимость и остановить компульсивное использование интернета и устройств.',
    emodji: '✊🌐',
    bg: 'bg-yellow-50',
    clip: 'clip-path: polygon(0% 0%, 56% 0%, 23.6% 100%, 0% 100%);',
  },
]
---

<div class="grid items-start gap-6 grid-cols-1 md:grid-cols-2">
  {
    words.map((item) => (
      <div
        class={`bg-white flex items-end h-[270px] sm:h-[250px] md:h-[200px] rounded-2xl p-6 relative overflow-hidden outline outline-offset-4 ring-2 ring-gray-100 outline-white`}
      >
        <div class="absolute top-0 left-0">
          <div class="relative">
            <div
              class={`${item.bg} w-[395px] md:w-[554px] h-[270px] sm:h-[250px] md:h-[200px]`}
              style={`${item.clip}`}
            />
            <span class="text-5xl absolute top-6 left-6">{item.emodji}</span>
          </div>
        </div>
        <p class="z-10 leading-relaxed text-zinc-800" set:html={item.desc} />
      </div>
    ))
  }
</div>
