---
---

<footer class="py-12 bg-white">
	<div class="container max-w-6xl px-5 mx-auto">
		<div class="flex justify-between flex-wrap gap-1 items-center">
			<span class="font-medium">2024</span>
      <a class="underline text-blue-500 font-medium" href="https://t.me/KamilTAT"
				>Насчет сайта</a>
		</div>
	</div>
</footer>
