---
---

<a href="/">
 <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_b_1251_5-274529)">
<rect width="55" height="55" rx="27.5" fill="url(#paint0_linear_1251_5-159361)"/>
</g>
<path d="M16.0892 35L15.3102 32.019H10.74L9.96101 35H5.47395L10.3661 20.012H15.8918L20.784 35H16.0892ZM12.9835 23.4708L11.5398 28.9134H14.5104L13.0666 23.4708H12.9835ZM31.0626 35V26.6595H30.9795L25.4746 35H21.2784V20.012H25.6823V28.3525H25.7654L31.2704 20.012H35.4666V35H31.0626ZM40.7181 28.9549V25.7351H42.6604C43.8445 25.7351 44.5924 25.1846 44.5924 24.2809C44.5924 23.3669 43.8445 22.8164 42.6085 22.8164C41.3621 22.8164 40.5208 23.5331 40.5208 24.5821H36.5427C36.5634 21.5388 38.9628 19.5965 42.702 19.5965C46.3166 19.5965 48.6847 21.2272 48.6847 23.7097C48.6847 25.4442 47.5318 26.7841 45.818 27.0853V27.1684C47.8746 27.3658 49.2041 28.7784 49.2041 30.7622C49.2041 33.5355 46.5347 35.4155 42.5877 35.4155C38.8901 35.4155 36.4076 33.442 36.2726 30.3883H40.4688C40.4896 31.3958 41.3309 32.0086 42.6812 32.0086C43.8861 32.0086 44.6858 31.3543 44.6858 30.3883C44.6858 29.4847 43.9172 28.9549 42.6397 28.9549H40.7181Z" fill="white"/>
<defs>
<filter id="filter0_b_1251_5-274529" x="-0.306818" y="-0.306818" width="55.6136" height="55.6136" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feGaussianBlur in="BackgroundImageFix" stdDeviation="0.153409"/>
<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1251_5"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1251_5" result="shape"/>
</filter>
<linearGradient id="paint0_linear_1251_5-159361" x1="27.5" y1="0" x2="27.5" y2="55" gradientUnits="userSpaceOnUse">
<stop stop-color="#94FFCB"/>
<stop offset="1" stop-color="#48D79B"/>
</linearGradient>
</defs>
</svg>
</a>
