---
---

<a href="/">
 <svg
  width="61"
  height="27"
  viewBox="0 0 61 27"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
 >
  <path
   d="M8.31477 0.603469H16.026L24.0203 26.2424H17.0165L15.4954 21.2229H8.80999L7.32434 26.2424H0.285156L8.31477 0.603469ZM14.3989 16.5285L12.1704 7.50069L9.8358 16.5285H14.3989Z"
   fill="url(#paint0_linear_1132_87)"></path>
  <path
   d="M20.267 26.298V0.659094H27.1647V16.2591L36.4324 0.659094H42.8702V26.298H35.9725V10.698L26.811 26.298H20.267Z"
   fill="url(#paint1_linear_1132_87)"></path>
  <path
   d="M50.0978 26.5562C47.7632 26.5562 45.6644 26.0987 43.8014 25.1839C41.9621 24.245 40.5 22.945 39.4152 21.2839L44.5797 17.9978C45.122 18.8404 45.8413 19.5145 46.7374 20.02C47.6571 20.5015 48.7183 20.7423 49.9209 20.7423C51.1708 20.7423 52.0433 20.5256 52.5385 20.0923C53.0337 19.6349 53.2813 19.0691 53.2813 18.395C53.2813 17.9136 53.1752 17.5043 52.963 17.1673C52.7508 16.8302 52.397 16.5654 51.9018 16.3728C51.4066 16.1802 50.7463 16.0839 49.9209 16.0839H46.419V10.8117H49.9209C50.6048 10.8117 51.1472 10.7395 51.5481 10.595C51.9726 10.4265 52.2673 10.1978 52.4324 9.90893C52.6211 9.59597 52.7154 9.23486 52.7154 8.8256C52.7154 8.41634 52.6211 8.06726 52.4324 7.77838C52.2438 7.46541 51.9254 7.22467 51.4773 7.05615C51.0293 6.88763 50.4162 6.80338 49.638 6.80338C48.2702 6.80338 47.1265 7.04412 46.2068 7.5256C45.3107 8.00708 44.6268 8.62097 44.1552 9.36726L39.203 5.75615C40.3585 4.21541 41.7734 2.96356 43.4477 2.0006C45.122 1.03763 47.2798 0.556152 49.9209 0.556152C51.9254 0.556152 53.6233 0.820967 55.0146 1.3506C56.4295 1.88023 57.5143 2.67467 58.2689 3.73393C59.0235 4.79319 59.4008 6.11726 59.4008 7.70615C59.4008 8.76541 59.1532 9.8006 58.658 10.8117C58.1628 11.8228 57.2903 12.6173 56.0404 13.195C57.4082 13.6284 58.4576 14.3747 59.1886 15.4339C59.9196 16.4691 60.2852 17.6969 60.2852 19.1173C60.2852 20.7543 59.8371 22.1265 58.941 23.2339C58.0449 24.3413 56.8304 25.1719 55.2976 25.7256C53.7648 26.2793 52.0315 26.5562 50.0978 26.5562Z"
   fill="url(#paint2_linear_1132_87)"></path>
  <defs>
   <linearGradient
    id="paint0_linear_1132_87"
    x1="15.769"
    y1="4.76912"
    x2="25.7885"
    y2="-6.47375"
    gradientUnits="userSpaceOnUse"
   >
    <stop stop-color="#F7526F"></stop>
    <stop offset="1" stop-color="#FF3B3B"></stop>
   </linearGradient>
   <linearGradient
    id="paint1_linear_1132_87"
    x1="0.285154"
    y1="2.84319"
    x2="5.43819"
    y2="-4.21817"
    gradientUnits="userSpaceOnUse"
   >
    <stop stop-color="#FFA842"></stop>
    <stop offset="1" stop-color="#FFC700"></stop>
   </linearGradient>
   <linearGradient
    id="paint2_linear_1132_87"
    x1="45.3492"
    y1="2.23109"
    x2="57.5599"
    y2="29.0597"
    gradientUnits="userSpaceOnUse"
   >
    <stop stop-color="#62E278"></stop>
    <stop offset="1" stop-color="#2CCC89"></stop>
   </linearGradient>
  </defs>
 </svg>
</a>
