---
import Link from "./Link.astro"
---

<nav class="py-4 flex justify-center">
 <nav
  class="bg-white p-2 rounded-[10px] text-center w-full flex items-center max-w-fit grow gap-2 overflow-x-auto"
 >
  <Link href="/">🏠 Главная</Link>
  <Link href="https://t.me/aiz_itta">📲 Присоединиться</Link>
  <Link href="/groups">🎁 Собрания</Link>
  <Link href="/posts">🎈 Посты</Link>
  <!-- <Link href="/notes">🎄 Заметки</Link> -->
  <Link href="/stories">🎞 Личные истории</Link>
 </nav>
</nav>
