/*
Значения отступов 
стандартизированы в дизайн-системе. 
Это не целые числа от 0 до бесконечности, 
а числа с определённым шагом: 
2, 4, 6, 8, 10, 12, 16, 20, 24, … 48, 56, 64.
*/

*,
*:after,
*:before {
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing: border-box;
}

a {
 text-decoration: none;
 user-select: none;
}
ul:where(body),
ol:where(body),
li:where(body) {
 list-style: none;
}

img {
 vertical-align: top;
}

p {
 hyphens: auto;
}
u {
 text-decoration-skip: ink;
}

q {
 quotes: "«" "»";
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: inherit;
 font-size: inherit;
}
