---
import Layout from './Layout.astro'

export interface Props {
  url: string
  title: string
  description: string
  pubDate?: string
}

const { title, description, pubDate } = Astro.props
---

<Layout title={title} desc={description} typeSite="article" pubDate={pubDate}>
  <main class="p-5">
    <slot />
  </main>
</Layout>
