---
import MainLayout from "./MainLayout.astro"

const { title, description, pubDate, img } = Astro.props
---

<MainLayout
	title={title}
	img={img}
	description={description}
	typeSite="article"
	pubDate={pubDate}
>
	<main class="p-5">
		<slot />
	</main>
</MainLayout>
